

html{
    height: 100%;
}

body{
    height: 100%;
    background-image: url("BG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}


h1{
    font-size:30pt; 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, "lucida console", arial, center;
}

table {
    background-color: white;
}

.button {
    background-color: #a50000;
    border: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .button1 {
    background-color: rgb(134, 2, 2); 
    color: black; 
    border: 2px solid #860000;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
  }
  
  .button1:hover {
    background-color: #920000;
    color: white;
  }

    #contact-form {
    background-color:#F2F7F9;
    width:465px;
    padding:20px;
    margin: 50px auto;    
    border: 6px solid #8FB5C1;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    position:relative;
}

#contact-form h1 {
    font-size:42px;
}

#contact-form h2 {
    margin-bottom:15px;
    font-style:italic;
    font-weight:normal;
}

#contact-form input, 
#contact-form select, 
#contact-form textarea, 
#contact-form label {
    font-size:15px;
    margin-bottom:2px;
}

#contact-form input, 
#contact-form select, 
#contact-form textarea {
    width:450px;
    border: 1px solid #CEE1E8;
    margin-bottom:20px;
    padding:4px;
}

#contact-form input:focus, 
#contact-form select:focus, 
#contact-form textarea:focus {
    border: 1px solid #AFCDD8;
    background-color: #EBF2F4;
}

#contact-form textarea {
    height:150px;
    resize: none;
}

#contact-form label {
    display:block;
}

#contact-form .required {
    font-weight:bold;
    color:#F00;    
}

#contact-form #submit-button {
    width: 100px;
    background-color:#333;
    color:#FFF;
    border:none;
    display:block;
    float:right;
    margin-bottom:0px;
    margin-right:6px;
    background-color:#8FB5C1;
    -moz-border-radius:8px;
}

#contact-form #submit-button:hover {
    background-color: #A6CFDD;
}

#contact-form #submit-button:active {
    position:relative;
    top:1px;
}

#contact-form #loading {
    width:32px;
    height:32px;
    background-image:url(../img/loading.gif);
    display:block;
    position:absolute;
    right:130px;
    bottom:16px;
    display:none;
}

#errors {
    border:solid 1px #E58E8E;
    padding:10px;
    margin:25px 0px;
    display:block;
    width:437px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background:#FFE6E6 url(../img/cancel_48.png) no-repeat 405px center;
    display:none;
}

#errors li {
    padding:2px;
    list-style:none;    
}

#errors li:before {
    content: ' - ';    
}

#errors #info {
    font-weight:bold;
}

#errors #info:before {
    content: '';    
}

#success {
    border:solid 1px #83D186;
    padding:25px 10px;
    margin:25px 0px;
    display:block;
    width:437px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background:#D3EDD3 url(../img/accepted_48.png) no-repeat 405px center;
    font-weight:bold;
    display:none;
}

#errors.visible, #success.visible {
    display:block;    
}

#req-field-desc {
    font-style:italic;
}


input:required, textarea:required {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
}




::-webkit-input-placeholder {
    color:#CCC;
    font-style:italic;
}


input:-moz-placeholder, textarea:-moz-placeholder {
    color:#CCC;
    font-style:italic;
}


input.placeholder-text, textarea.placeholder-text  { 
    color:#CCC;
    font-style:italic;
}





#gal{
  width:480px;
  height:250px;
  overflow:hidden;
  margin:20px auto;
}

#gal ul{
  margin:0 0 0 40px;
  padding:0;
  list-style:none;
}

#gal li{
  position:relative;
  width:290px;
  height:240px;
  padding:5px;
  background:#888;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -o-border-radius:5px;
  border-radius:5px;
  -moz-box-shadow:0px 1px 6px #000 inset;
  -o-box-shadow:0px 1px 6px #000 inset;
  -webkit-box-shadow:0px 1px 6px #000 inset;
  box-shadow:0px 1px 6px #000 inset;
}

#gal li div{
  position:relative;
  top:5px;
  left:0px;
  width:290px;
  height:50px;
  padding:7px 0;
  font:normal 12px sans-serif;
  color:#000;
  text-align:center;
  background:url(../images/banner_3d.png) no-repeat;
}

#gal a{
  display:block;
  width:40px;
  height:35px;
  text-decoration:none;
}

#gal a.lft{
  position:absolute;
  background:url(../images/r_btn_grn_lft.gif) no-repeat;
  left:-40px;
  top:107px;
}

#gal a.rgt{
  position:absolute;
  background:url(../images/r_btn_grn_rgt.gif) no-repeat;
  right:-45px;
  top:107px;
}

#gal a.lft:hover,
#gal a.rgt:hover{
  background-position:0 -35px;
}

#gal a.rgt:focus,
#gal a.lft:focus{outline:none;}

#gal img{
  display:block;
  height:190px;
  margin:0 auto;
}

.container{
  background-color: #404040;
  position:absolute;
  bottom: 2em;
  width: 100%;

}

    
a{
    color:#ffffff
}

a:hover{
    text-decoration: none;
    color: #b69955;
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    height: 75px;
    line-height: 75px;
    background: #404040;
}

nav .navbar-brand {
    color: #ffffff;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: .5px;
}

nav .nav-list {
    display: flex;
}

nav .nav-list .nav-item {
    cursor: pointer;
    height: 100%;
    padding: 0 30px;
    transition: .4s;
}

nav .nav-list .nav-item:hover {
    background: #b69955;
}

nav .nav-list .nav-link {
    color: #f1f1f1;
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 935px) {

    nav {
        padding: 0 2rem;
    }

    nav .nav-list .nav-item {
        padding: 0 20px;
    }

}

@media (max-width: 675px) {

    nav .nav-list {
        display: grid;
        position: absolute;
        background: #404040;
        width: 100%;
        top: 75px;
        left: 0;
        transform: translateY(-100%);
        z-index: -1;
        transition: .6s;
    }

    nav .nav-list .nav-item {
        padding-left: 35px;
    }

    nav .navbar-toggler {
        display: grid !important;
    }

}

nav .navbar-toggler {
    display: none;
    height: min-content;
    margin: 18px -10px 0 0;
    cursor: pointer;
}

nav .navbar-toggler .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: #ffffff;
    border-radius: 10%;
    transition: .4s;
}

input {
    display: none;
}

input:checked ~ nav .nav-list {
    transform: translateY(0);
}

input:checked ~ nav .navbar-toggler {
    margin-top: 35px;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
}

input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
    display: none;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
    transform: rotate(-45deg);
}


























  

  



    